#textdomain wesnoth-Struggle_For_Freedom

[scenario]
    id=11_Epilogue
    name= _ "Epilogue"
    map_file=11_Epilogue.map
    {TURNS 1 1 1}
    next_scenario=null
    theme=Cutscene_Minimal
    victory_when_enemies_defeated=no
    {AFTERNOON}
    {SCENARIO_MUSIC elf_land.ogg}
    {XP_MODIFIER_SFF}

    {STORY_EPILOGUE}
    {STANDARD_DEATHS}

    {MOOD_SAD}

    [side]
        type=Uvollyn Elvish Fighter
        name= _ "Uvollyn"
        id=Uvollyn
        side=1
        canrecruit=yes
        controller=human
        {FLAG_VARIANT wood-elvish}
        team_name=elves
        user_team_name= _ "team_name^Elves"
        shroud=yes
    [/side]

    [side]
        side=2
        no_leader=yes
        {FLAG_VARIANT wood-elvish}
        team_name=elves
        user_team_name= _ "team_name^Elves"
    [/side]

    {STARTING_VILLAGES 1 20}

    [event]
        name=prestart
        {SET_LABEL 22 8 ( _ "Tree of Life")}
    [/event]

    [event]
        name=start
        {ENDLEVEL_CONTINUE}
    [/event]
[/scenario]
