#textdomain wesnoth-Struggle_For_Freedom

#define ACHIEVEMENT_ICON_UNIT _UNIT_IMAGE
"attacks/blank-attack.png~SCALE(72,72)~BLIT({_UNIT_IMAGE}~RC(magenta>red), 0, 0)~BLIT(data/core/images/misc/achievement-frames/frame-8-grey.png,0,0)"
#enddef

#define ACHIEVEMENT_ICON_MISC _ICON_IMAGE
"attacks/blank-attack.png~SCALE(72,72)~BLIT({_ICON_IMAGE}, 0, 0)~BLIT(data/core/images/misc/achievement-frames/frame-8-grey.png,0,0)"
#enddef

#define ACHIEVEMENT_ICON_ATTACK _ATK_IMAGE
"{_ATK_IMAGE}~SCALE(72,72)~BLIT(data/core/images/misc/achievement-frames/frame-8-grey.png,0,0)"
#enddef

#define SFF_ACHIEVEMENT_SCENARIO _SCENARIO_ID _SCENARIO_DESC
    [sub_achievement]
        id=WoL_SFF_{_SCENARIO_ID}
        description={_SCENARIO_DESC}
        icon={ACHIEVEMENT_ICON_MISC (data/core/images/items/ball-blue.png)}
    [/sub_achievement]
#enddef

#define SFF_ACHIEVEMENT_SCENARIO_HARD _SCENARIO_ID _SCENARIO_DESC
    [sub_achievement]
        id=WoL_SFF_hard_{_SCENARIO_ID}
        description={_SCENARIO_DESC} +_" (Difficult/Nightmare)"
        icon={ACHIEVEMENT_ICON_MISC (data/core/images/items/ball-magenta.png)}
    [/sub_achievement]
#enddef

#define SFF_SUB_ACHIEVEMENT_MISC _SUB_ID _SUB_DESC
    [sub_achievement]
        id=WoL_SFF_{_SUB_ID}
        description={_SUB_DESC}
        icon={ACHIEVEMENT_ICON_MISC (data/core/images/items/ball-green.png)}
    [/sub_achievement]
#enddef

#define WOL_ICON_IMG
data/add-ons/War_of_Legends/images#enddef
#define WESNOTH_CORE_IMG
data/core/images#enddef
#define SFF_ICON_IMG
data/add-ons/Struggle_For_Freedom/images#enddef

#define SFF_CAMPAIGN_ACHIEVEMENT _ID _NAME _HINT_SCENARIO_NAME _DESC _ICON _EXTRA
    [achievement]
        id={_ID}
        name=_"???"
        name_completed={_NAME}
        description=_"Achievement can be earned in "+"<i>"+{_HINT_SCENARIO_NAME}+"</i>"+"."
        description_completed={_DESC}
        icon={ACHIEVEMENT_ICON_ATTACK ("{WESNOTH_CORE_IMG}/attacks/sword-elven.png")}
        icon_completed={_ICON}
        {_EXTRA}
    [/achievement]
#enddef

[achievement_group]
    display_name=_"Struggle For Freedom"
    content_for=knyght_wol_sff_achievements

    [achievement]
        id=WoL_SFF_Campaign_standard
        name= _ "Lord of the Eastern Glades"
        description= _ "Completed the campaign <i>Struggle For Freedom</i>."
        icon={ACHIEVEMENT_ICON_ATTACK (attacks/sword-elven.png)}

        {SFF_ACHIEVEMENT_SCENARIO (01_Incursion_On_The_Western_Glades) (_"Incursion on the Western Glades")}
        {SFF_ACHIEVEMENT_SCENARIO (02_The_Search_For_The_Ochgma) (_"The Search For The Ochgma")}
        {SFF_ACHIEVEMENT_SCENARIO (04_An_Attack_From_The_North) (_"An Attack From The North")}

        {SFF_ACHIEVEMENT_SCENARIO (05_Across_The_Dark_Hills) (_"Across The Dark Hills")}
        {SFF_ACHIEVEMENT_SCENARIO (06_The_Courtyard) (_"The Courtyard")}
        {SFF_ACHIEVEMENT_SCENARIO (07_Struggle_For_Freedom) (_"Struggle For Freedom")}
        {SFF_ACHIEVEMENT_SCENARIO (08a_Eye_Of_Yfel) (_"The Eye of Y'fel")}

        {SFF_ACHIEVEMENT_SCENARIO (08b_Realm_Of_Knightmare) (_"Realm Of Knightmare")}
        {SFF_ACHIEVEMENT_SCENARIO (09_Bane_Of_Soradoc) (_"The Bane of Soradoc")}
        {SFF_ACHIEVEMENT_SCENARIO (10_Ghosts_Of_A_Sylvan_Land) (_"Ghosts of a Sylvan Land")}
    [/achievement]

    [achievement]
        id=WoL_SFF_Campaign_hard
        name= _ "High Lord of the Eastern Glades"
        description= _ "Completed the campaign <i>Struggle For Freedom</i> on either Difficult or Nightmare difficulty."
        icon={ACHIEVEMENT_ICON_ATTACK (attacks/greatsword-elven.png)}

        {SFF_ACHIEVEMENT_SCENARIO_HARD (01_Incursion_On_The_Western_Glades) (_"Incursion on the Western Glades")}
        {SFF_ACHIEVEMENT_SCENARIO_HARD (02_The_Search_For_The_Ochgma) (_"The Search For The Ochgma")}
        {SFF_ACHIEVEMENT_SCENARIO_HARD (04_An_Attack_From_The_North) (_"An Attack From The North")}

        {SFF_ACHIEVEMENT_SCENARIO_HARD (05_Across_The_Dark_Hills) (_"Across The Dark Hills")}
        {SFF_ACHIEVEMENT_SCENARIO_HARD (06_The_Courtyard) (_"The Courtyard")}
        {SFF_ACHIEVEMENT_SCENARIO_HARD (07_Struggle_For_Freedom) (_"Struggle For Freedom")}
        {SFF_ACHIEVEMENT_SCENARIO_HARD (08a_Eye_Of_Yfel) (_"The Eye of Y'fel")}

        {SFF_ACHIEVEMENT_SCENARIO_HARD (08b_Realm_Of_Knightmare) (_"Realm Of Knightmare")}
        {SFF_ACHIEVEMENT_SCENARIO_HARD (09_Bane_Of_Soradoc) (_"The Bane of Soradoc")}
        {SFF_ACHIEVEMENT_SCENARIO_HARD (10_Ghosts_Of_A_Sylvan_Land) (_"Ghosts of a Sylvan Land")}
    [/achievement]

    {SFF_CAMPAIGN_ACHIEVEMENT 
        (WoL_SFF_Campaign_S2_defeat_enemy_leaders) 
        (_"No Quarter Given") 
        (_"The Search For the Ochgma") 
        (_"Defeat all enemy leaders in <i>The Search For the Ochgma</i>.") 
        ({ACHIEVEMENT_ICON_UNIT ("WOL_ICON_IMG/units/minotaurs/savage.png")}) 
        ()}

    {SFF_CAMPAIGN_ACHIEVEMENT 
        (WoL_SFF_Campaign_S4_defeat_enemy_leaders) 
        (_"Reinforcements Not Needed") 
        (_"An Attack from The North") 
        (_"Defeat all enemy leaders in <i>An Attack from The North</i>.") 
        ({ACHIEVEMENT_ICON_UNIT ("WOL_ICON_IMG/units/minotaurs/overlord.png")}) 
        ()}

    {SFF_CAMPAIGN_ACHIEVEMENT 
        (WoL_SFF_Campaign_S5_found_faerie) 
        (_"Kindred Curiosity") 
        (_"Across the Dark Hills") 
        (_"Found Alouné in <i>Across the Dark Hills</i>.") 
        ({ACHIEVEMENT_ICON_UNIT ("WOL_ICON_IMG/units/minotaurs/overlord.png")}) 
        ()}

    {SFF_CAMPAIGN_ACHIEVEMENT 
        (WoL_SFF_Campaign_S6_defeat_velezor) 
        (_"The Trap Sprung Back") 
        (_"The Courtyard") 
        (_"Defeat Dark Razerman Velezor in <i>The Courtyard</i>.") 
        ({ACHIEVEMENT_ICON_UNIT ("SFF_ICON_IMG/units/humans-evil/razerman.png")}) 
        ()}

    {SFF_CAMPAIGN_ACHIEVEMENT 
        (WoL_SFF_Campaign_S8B_keep_dalaien_alive) 
        (_"Quenoth Survivor") 
        (_"Realm Of Knightmare") 
        (_"Keep Dalaien alive in <i>Realm Of Knightmare</i>.") 
        ({ACHIEVEMENT_ICON_UNIT ("WOL_ICON_IMG/units/elves-quenoth/warrior.png")}) 
        ()}

    {SFF_CAMPAIGN_ACHIEVEMENT 
        (WoL_SFF_Campaign_S8B_loyal_ant) 
        (_"Can I Keep It?") 
        (_"Realm Of Knightmare") 
        (_"Find the loyal ant in <i>Realm Of Knightmare</i>.") 
        ({ACHIEVEMENT_ICON_UNIT ("WESNOTH_CORE_IMG/units/ants/giant-ant.png")}) 
        ()}

    {SFF_CAMPAIGN_ACHIEVEMENT 
        (WoL_SFF_Campaign_S8A_unlikely_ally) 
        (_"Unlikely Ally") 
        (_"Eye Of Y'fel") 
        (_"Recruit Syl'theliss in <i>Eye Of Y'fel</i>.")
        ({ACHIEVEMENT_ICON_UNIT ("SFF_ICON_IMG/units/demons/zehpyr.png")}) 
        ()}

    {SFF_CAMPAIGN_ACHIEVEMENT 
        (WoL_SFF_Campaign_S8A_thieves_hideout) 
        (_"Rooting Out the Rogues") 
        (_"Eye Of Y'fel") 
        (_"Defeat Derrick in <i>Eye Of Y'fel</i>.")
        ({ACHIEVEMENT_ICON_UNIT ("WESNOTH_CORE_IMG/units/human-outlaws/huntsman.png")}) 
        ()}
[/achievement_group]
