#textdomain wesnoth-Struggle_For_Freedom

[modify_unit_type]
    type="Javelineer"
    set_experience=60
    add_advancement="Javelin Master"
[/modify_unit_type]
[modify_unit_type]
    type="Spearman"
    remove_advancement="Swordsman"
[/modify_unit_type]

# core
{ENABLE_ARMAGEDDON_DRAKE}
{ENABLE_DWARVISH_RUNESMITH}
# WoL
[modify_unit_type]
    type = "Troll Warrior"
    add_advancement = "Troll Warmonger"
    set_experience = 210
[/modify_unit_type]
[modify_unit_type]
    type = "Troll Rocklobber"
    add_advancement = "Troll Boulderlobber"
    set_experience = 74
[/modify_unit_type]
[modify_unit_type]
    type = "Troll Shaman"
    add_advancement = "Troll Warbanner"
    set_experience = 95
[/modify_unit_type]
[modify_unit_type]
    type = "Ogre"
    add_advancement = "Great Ogre"
    set_experience = 90
[/modify_unit_type]
[modify_unit_type]
    type = "Goblin Pillager"
    add_advancement = "Goblin Cutthroat"
    set_experience = 70
[/modify_unit_type]
[modify_unit_type]
    type="Gryphon Master"
    set_experience=88
    add_advancement="Gryphon Thunderlord"
[/modify_unit_type]
[modify_unit_type]
    type="Saurian Oracle"
    set_experience=98
    add_advancement="Saurian Prophet"
[/modify_unit_type]
[modify_unit_type]
    type="Saurian Skirmisher"
    add_advancement="Saurian Spearthrower"
[/modify_unit_type]
[modify_unit_type]
    type="Drake Glider"
    add_advancement="Drake Adventurer"
[/modify_unit_type]
# core
{ENABLE_NIGHTBLADE}
# WoL
[modify_unit_type]
    type = "Orcish Grunt"
    add_advancement = "Orcish Marauder"
[/modify_unit_type]
# WoL
[modify_unit_type]
    type = "Goblin Impaler"
    add_advancement = "Goblin Spearmaster"
    set_experience = 40
[/modify_unit_type]
[modify_unit_type]
    type = "Goblin Rouser"
    add_advancement = "Goblin Trumpeter"
    set_experience = 30
[/modify_unit_type]
# core
{ENABLE_DWARVISH_ARCANISTER}
{ENABLE_TROLL_SHAMAN}
{ENABLE_WOLF_ADVANCEMENT}
# WoL
[modify_unit_type]
    type = "Skeleton"
    add_advancement = "Death Baron"
[/modify_unit_type]