#textdomain wesnoth-Struggle_For_Freedom

[unit_type]
    id=Mage Wyrm
    name= _ "Mage Wyrm"
    race=wyrm
    gender=female
    image="units/wyrms/mage.png"
    hitpoints=59
    movement_type=wyrmfly
    movement=6
    experience=100
    level=2
    alignment=chaotic
    advances_to=Elemental Wyrm
    cost=43
    usage=fighter
    [abilities]
        {ABILITY_REGENERATES}
    [/abilities]
    description= _ "Wyrmlings that survive their early years eventually grow wings and become capable of flight. Called Mage Wyrms, they are far stronger and more capable than Wyrmlings, and their magic elemental breath has increased in damage. One would do well to avoid these creatures."
    die_sound=drake-die.ogg
    {DEFENSE_ANIM "units/wyrms/mage.png" "units/wyrms/mage.png" {SOUND_LIST:DRAKE_HIT} }
    [attack]
        name=tail
        description= _ "tail"
        icon=attacks/tail-dragon.png
        type=impact
        range=melee
        damage=10
        number=3
    [/attack]
    [attack]
        name=elemental blast
        description= _ "elemental blast"
        icon=attacks/faerie-fire.png
        type=arcane
        range=ranged
        damage=7
        number=4
    [/attack]
    [attack_anim]
        [filter_attack]
            name=tail
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                begin=-200
                end=200
                sound=tail.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-200
                end=200
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=elemental blast
        [/filter_attack]
        {MISSILE_FRAME_FAERIE_FIRE}
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                sound=magic-faeriefire.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                sound=magic-faeriefire-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
