#textdomain wesnoth-Struggle_For_Freedom

[unit_type]
    id=Corrupted Shaman
    name= _ "female^Corrupted Shaman"
    gender=female
    image="units/elves-corrupted/shaman.png"
    race=dark elf
    hitpoints=27
    movement_type=desmall
    movement=5
    experience=55
    level=1
    alignment=chaotic
    advances_to=Corrupted Sorceress
    cost=19
    usage=mixed fighter
    description= _ "Corrupted Shaman."
    {DEFENSE_ANIM "units/elves-corrupted/shaman.png" "units/elves-corrupted/shaman.png" {SOUND_LIST:ELF_HIT} }
    die_sound={SOUND_LIST:ELF_FEMALE_HIT}
    [attack]
        name=mace
        description= _ "mace"
        type=impact
        range=melee
        damage=5
        number=1
    [/attack]
    [attack]
        name=shadow wave
        description= _ "shadow wave"
        icon=attacks/dark-missile.png
        type=arcane
        range=ranged
        damage=6
        number=3
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=mace
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                begin=-150
                end=150
                sound=mace.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-150
                end=150
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=shadow wave
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=100
            image="projectiles/darkmissile-n.png"
            image_diagonal="projectiles/darkmissile-ne.png"
        [/missile_frame]
        [frame]
            begin=-200
            end=-150
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-150
                end=100
                sound=magic-dark.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-150
                end=100
                sound=magic-dark-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
