#textdomain wesnoth-Frigid_Nightmares

[unit_type]
    id=Dark Headhunter
    name= _ "Dark Headhunter"
    race=human
    image="units/humans-evil/headhunter.png"
    ellipse="misc/ellipse"
    
    hitpoints=34
    movement_type=elusivefoot
    movement=7
    experience=40
    level=1
    alignment=chaotic
    #[resistance]
    #    blade=130
    #    pierce=120
    #    impact=120
    #[/resistance]
    [abilities]
        {ABILITY_SKIRMISHER}
        {ABILITY_DIVERSION}
    [/abilities]
    advances_to=Dark Marauder
    cost=20
    usage=scout
    description= _ "TODO"
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/humans-evil/headhunter.png" "units/humans-evil/headhunter.png" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=club
        description= _ "club"
        icon=attacks/club-small.png
        type=impact
        range=melee
        damage=5
        number=2
    [/attack]
    [attack]
        name=javelin
        description= _ "javelin"
        icon=attacks/javelin-orcish.png
        type=pierce
        range=ranged
        damage=5
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=javelin
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/spear-n.png"
            image_diagonal="projectiles/spear-ne.png"
        [/missile_frame]
        [if]
            hits=yes
            [frame]
                begin=-200
                end=200
                image="units/humans-evil/headhunter.png"
                sound=spear.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-200
                end=200
                image="units/humans-evil/headhunter.png"
                sound=spear-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=club
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=0
                image="units/humans-evil/headhunter.png"
                sound=club.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=0
                image="units/humans-evil/headhunter.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=0
            end=200
            image="units/humans-evil/headhunter.png"
        [/frame]
    [/attack_anim]
[/unit_type]
