#textdomain wesnoth-Struggle_For_Freedom

#define ABILITY_SWORDMASTER
    [chance_to_hit]
        id=swordmaster
        name= _ "swordmaster"
        female_name= _ "female^swordmaster"
        description= _ "This unit grants +10% to accuracy to all sword attacks of all adjacent allies and himself."
        add=10
        cumulative=yes
        active_on=offense
        [filter_student]
            [filter_weapon]
                name=sword
                [or]
                    name=greatsword
                [/or]
            [/filter_weapon]
        [/filter_student]
        affect_self=yes
        affect_allies=yes
        [affect_adjacent]
        [/affect_adjacent]
    [/chance_to_hit]
#enddef