#textdomain wesnoth-Struggle_For_Freedom

#define SFF_ADD_ACHIEVEMENT _ACHIEVEMENT_ID
    [set_achievement]
        content_for=knyght_wol_sff_achievements
        id={_ACHIEVEMENT_ID}
    [/set_achievement]    
#enddef

#define SFF_ADD_SUB_ACHIEVEMENT _ACHIEVEMENT_ID _SUB_ACHIEVEMENT_ID
    [set_sub_achievement]
        content_for=knyght_wol_sff_achievements
        id={_ACHIEVEMENT_ID}
        sub_id=WoL_SFF_{_SUB_ACHIEVEMENT_ID}
    [/set_sub_achievement]    
#enddef

#define CAMPAIGN_PROGRESSION_ACHIEVEMENT _SCENARIO_ID
    [set_sub_achievement]
        content_for=knyght_wol_sff_achievements
        id=WoL_SFF_Campaign_standard
        sub_id=WoL_SFF_{_SCENARIO_ID}
    [/set_sub_achievement]
    #ifndef EASY
    [set_sub_achievement]
        content_for=knyght_wol_sff_achievements
        id=WoL_SFF_Campaign_hard
        sub_id=WoL_SFF_hard_{_SCENARIO_ID}
    [/set_sub_achievement]
    #endif
#enddef
